@model fsbr_desafio.Models.Processo
@{
    ViewData["Title"] = "Criar processo";
}

<h1>Criar novo</h1>
<h4>Processo</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Criar">
            @await Html.PartialAsync("_FormEdicao", Model)

            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a listagem</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
