@model fsbr_desafio.Models.Processo

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Processo</h4>
    <hr />
    <dl class="row">
        @await Html.PartialAsync("_FormVisualizacao", Model)
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar a listagem</a>
</div>
